<span class="my-button button-blue">Click me!</span>

<span class="my-button button-red">Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */

  .my-button{
    color: white;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.58);
    -webkit-box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.58);
    -moz-box-shadow: 8px 10px 7px -7px rgba(0,0,0,0.58);

  }

  .my-button:hover {
  background-color: darkblue;
  }
  .button-blue{
    background-color: blue;
  }

  .button-blue:hover{
    background-color: darkblue;
  }


</style>
